.timerWrapper {
  background: white;
  padding: 1rem;
  color: black;
  position: absolute;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  top: 5%;
  right: 5%;
  z-index: 9999;
  text-align: center;
}
