.credits {
  min-width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;

  h1,
  h2 {
    color: white;
  }
}

.imageWrapper {
  img {
    width: 500px;
  }
}

.getBackButton {
  color: white;
  border-bottom: 1px solid white;
  cursor: pointer;
}
