.europe {
  background: url('./bg.gif');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  width: 100%;
}

.ukRope {
  background-image: url('./uk.png');
  position: absolute;
  top: calc(100vh - 108vh);
  left: calc(100vw - 100vw);
  cursor: move;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}
