.countryButtonUsa {
  height: 15%;
  width: 15%;
  border: 1px solid white;
  position: absolute;
  top: 41%;
  left: 16%;
}
.countryButtonChina {
  height: 17%;
  width: 17%;
  border: 1px solid white;
  position: absolute;
  top: 30%;
  left: 62%;
}
.countryButtonEurope {
  height: 15%;
  width: 10%;
  border: 1px solid white;
  position: absolute;
  top: 23%;
  left: 40%;
}
.countryButtonAustralia {
  height: 15%;
  width: 15%;
  border: 1px solid white;
  position: absolute;
  top: 66%;
  left: 76%;
}
.countryButtonOcean {
  height: 15%;
  width: 15%;
  border: 1px solid white;
  position: absolute;
  top: 67%;
  left: 54%;
}

.worldMapContainer {
  background-image: url('./worldmap.png');
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: relative;
}
