.countryButtonUsa {
  height: 12%;
  width: 12%;
  border: 1px solid white;
  position: absolute;
  top: 33rem;
  left: 24rem;
}
.countryButtonChina {
  height: 15%;
  width: 15%;
  border: 1px solid white;
  position: absolute;
  top: 25rem;
  left: 90rem;
}
.countryButtonEurope {
  height: 15%;
  width: 10%;
  border: 1px solid white;
  position: absolute;
  top: 17rem;
  left: 60rem;
}
.countryButtonAustralia {
  height: 10%;
  width: 10%;
  border: 1px solid white;
  position: absolute;
  top: 55rem;
  left: 110rem;
}
.countryButtonOcean {
  height: 15%;
  width: 15%;
  border: 1px solid white;
  position: absolute;
  top: 50rem;
  left: 70rem;
}

.worldMapContainer {
  background-image: url('./worldmap.png');
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: relative;
}
