.countryIcon {
  position: absolute;

  img {
    width: 50%;
    height: 50%;
    cursor: pointer;
  }

  &:hover {
    transform: rotate(10deg);
  }
}

.usa {
  top: 44%;
  left: 18%;
}

.china {
  top: 40%;
  left: 68%;
}

.europe {
  top: 35%;
  left: 40%;
}

.australia {
  top: 75%;
  left: 80%;
}

.ocean {
  top: 80%;
  left: 58%;
}

.worldMapContainer {
  background-image: url('./bg.gif');
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: relative;
}
